/*
  AlexaWeb CSS
*/

html, body{
margin: 0px;
}

.container, .wrapper, *[class^="span"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.wrapper {
    margin: 0;
    padding: 0;
}
*[class^="span"] {
    padding: 0;
    float: left;

}

 .span12 {
    width: 100%;
    padding: 20px 0px;
}

 @media (min-width:801px) {
    .container {

    }
  .logo{
   max-width: 450px;
   }
  #header{
  height: 500px;
  }
  #menu ul li{
  font-size: 36px;
  padding: 10px 30px;
  }
  .hideMenu, .showMenu{
  display: none;
  opacity: 0;
  visibility: hidden;
  }
.mainMenu{
display: block;
opacity: 1;
hidden: visible;
}
  p {
  font-size: 24px;
  }
  #menu img{
  display: none;
  opacity: 0;
  visibility: hidden;
  }
  h3{
  font-size: 64px;
  margin: 30px 5px 10px;
  }
  h1 a{
  font-size: 200px;
  }
  h2{
  font-size: 64px;
  }
  h4 a{
  font-size: 100px;
  }
  .social{
    display: inline-block;
    }
      #media a img, #media2 a img{
max-width: 100px;
}

}
 @media (max-width:800px) {


    .span9 {
        width: 100%;
    }

   .span3{

   }
    .span2 {
        width: 25%;
    }
    .span1 {
        width: 25%;
    }
    .hideMenu, .showMenu{
  display: none;
  opacity: 0;
  visibility: hidden;
  }
.mainMenu{
display: block;
opacity: 1;
hidden: visible;
}
    p {
  font-size: 24px;
  }
  #menu img{
  display: none;
  opacity: 0;
  visibility: hidden;
  }
  #menu ul li{
  font-size: 30px;
  padding: 5px 20px;
  }
  .logo{
  max-width: 350px;
  }
  #header{
  height: 350px;
  }
  h2, h3{
  font-size: 48px;
  }
  h3{
  margin: 30px 5px 20px;
  }
    h1 a{
  font-size: 100px;
  }

  h4 a{
  font-size: 64px;
  }
  .social {
display: inline;
}
 #footer p{
  font-size: 18px;
  }
 #media a img, #media2 a img{
max-width: 100px;
}

}

 @media (max-width: 540px) {
    body {
        min-width: 0;
    }
    *[class^="span"] {

    }
    #bar a img{
    max-width: 200px;
    }
    .span6{
    width: 100%;
    }
    .hideMenu, .mainMenu{
display: none;
  opacity: 0;
  visibility: hidden;
  color:#7A378B;
 }
    #menu img, .showMenu{
    display: block;
  opacity: 1;
  visibility: visible;
    }
    .logo{
  max-width: 250px;
  }
  #header{
  height: 250px;
  }
    h2, h3{
  font-size: 34px;
  }
  h3{
  margin: 20px 5px 10px;
  }
  p {
  font-size: 24px;
  }
 h1 a{
  font-size: 48px;
  }
  h4 a{
  font-size: 36px;
  }
  .social {
    display: block;
  }
  #footer p{
  font-size: 14px;
  }

  #media a img, #media2 a img{
      max-width: 75px;
}

}


/*common*/
p{
font-family: 'SwedenSans', Helvetica, sans-serif;
color: black;
margin: 5px;
padding-bottom: 10px;
}

img{
border: 0;
outline: 0;
}


/*header*/
#header{
background: #FFC107;
text-align: center;
box-shadow: 2px 2px 10px #888888;
margin: 0;
padding: 0;
}
#header a{
display: block;

width: 100%;
height: 100%;
}
.logo{
border: 0;
width: 100%;
margin: 0;
padding: 0px;
}


/*menu*/
#menu img {
margin: 0px 20px;
width: 50px;
height: 50px;
}
.mainMenu li{
position: relative;
display: inline-block;
}
.mainMenu{
max-height: 100px;
}
 #menu{
  margin: 0 auto;
 }
.showMenu > li{
text-align: center;
font-family: 'SwedenSans', Helvetica, sans-serif;
font-size: 24px;
padding: 15px 0px;
margin: 0;
color: white;
border-top: 1px solid white;
border-bottom: 1px solid white;
cursor: pointer;
}
.mainMenu, .showMenu{
list-style-type: none;
padding: 0;
text-align: center;
}
.mainMenu{
margin: 0;
}
.showMenu{
margin: 20px 0 0;
}
.mainMenu li a{
display: block;
font-family: 'SwedenSans', Helvetica, sans-serif;
font-weight: 500;
color: #888888;
text-decoration: none;
}
.mainMenu li a:hover{
color: black;
}
.showMenu li a{
color: white;
background: #888888;
text-decoration: none;
}
.showMenu li {
background: #888888;
}
.showMenu li:hover, .showMenu li:hover a{
color: black;
background: white;
}
.showMenu li a:hover{
color: black;
background: white;
}


/*presents*/
#presents{
text-align: center;
}
h2{
font-family: 'SwedenSans', Helvetica, sans-serif;
color: #7A378B;
margin: 0 auto;
}

#presents p{
margin: 10px auto;
max-width: 500px;
}
#presents p a{
color: #333333;
}
#presents p a:hover{
color: #888888;
}

/*Portrait */
.circle{
  width: 100%auto;
	height: 100%auto;
	border-radius: 140px;
	-webkit-border-radius: 140px;
	-moz-border-radius: 140px;
	background: url("images/Alexa1.jpg"), no-repeat;
  float:left;
  max-width: 100%;
  height: auto;
  margin:20px;
  margin-bottom: 80px;
}


.circle img {
	opacity: 0;
	filter: alpha(opacity=0);
	}

h1{
  font-size: 200%;
  width: 100%;
  color:#7A378B;
  font-family: 'SwedenSans', Helvetica, sans-serif;
  margin-top: 40px;
}

#current{
margin: 0;
padding: 0;
}

.currentmovie{
  text-align: center;
  box-shadow: 2px 2px 10px #888888;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

/*Current projects*/
.currentsynopsis{
max-width: 900px;
margin: 0px auto;

}

/*Projects*/
#ActII{
background: url("images/ActIII.jpg") no-repeat center center;
background-size: cover;
}
#ActII h2{
  color:white;
  font-size: 700%;
  padding: 20px;
}

/*Music*/
#AMusic{
background: url("images/music1.jpg") no-repeat center center;
background-size: cover;
}
#AMusic h2{
  color:white;
  font-size: 700%;
  padding: 20px;
}



/*footer*/
#footer{
background: #333333;
text-align: center;
box-shadow: 2px 2px 10px #888888;
margin: 30px 0 0;
}
#footer p{
margin: 0px auto;
padding: 5px;
max-width: 800px;
color: white;
}

.social a img{
max-width: 60px;
width: 100%;
padding: 15px;
background: transparent;
}
.social a:link, .social a:visited, .social a:hover, .social a:active{
color: transparent;
}


#footer p a{
color: white;
}
#footer p a:hover{
}
color: #888888;

.credits{
max-width: 800px;
margin: 0 auto;
text-align: center;
}
